
  <div class="row-fluid bgdark uplinepage">
<div class="span12 ">



<div class="text-center ">
   <%= link_to(image_tag("home.png"), root_path) %>


   <br><br><br>
  <p>
      <%= link_to "Sign in", new_user_session_path, { :class=>"btn btn-large" } %> or <%= link_to "Register", new_user_registration_path %>

  </p>
</div>


  </div>
</div>

